{% load static %}

<!doctype html>
<html>
  <head>
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <link href="{% static 'demoapp/css/styles.css' %}" rel="stylesheet" type="text/css" />
    {% block css %}{% endblock %}
  </head>
  <body>
    <h1>This is demo app</h1>
    {% block page_name %}
    {% endblock page_name %}
    <nav class="menu">
      <ul>
        <li><a href="{% url 'demo-home' %}">Home</a></li>
        <li><a href="{% url 'demo-paragraphs' %}">first</a></li>
        <li><a href="{% url 'demo-form' %}">secobd</a></li>
      </ul>
    </nav>
    <div>
      {% block contents %}{% endblock contents %}
    </div>
    <footer>
      Footer is here
    </footer>
    {% block js %}{% endblock %}
  </body>
</html>
